<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LaboMaster</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header> 
        <!-- <div class="container"> -->
            <div class="header-logo">
                <a href="/">LaboMaster</a>
            </div>
            <div class="header-list">
                <ul>
                    <li><a href="/view_fitbit_lending_status">備品状態</a></li>
                </ul>
            </div>
        <!-- </div> -->
    </header>
    <div class="top-wrapper">
        <div class="equipmentdecision-headerbox">
            <div class="push">
                <div class="equipment-header">
                    <h1><%= type %>を借りる</h1>
                </div>
            </div>
        </div>
        <div class="equipmentdecision-stickybox">
            <div class="equipment-stickybox">
                <% if (type == "鍵") { %>
                    <img src="/images/key.PNG">
                <% } else if (type == "Fitbit") { %>
                    <img src="/images/fitbit.PNG">
                <% } else if (type == "行動計") { %>
                    <img src="/images/meter.PNG">
                <% } else if (type == "Sleep") { %>
                    <img src="/images/sleep.PNG">
                <% } %>
            </div>
        </div>
        <div class="equipmentdecision-selectionarea">
            <div>
                <div class="inlinetradeup-section">
                    <div class="tradeupinline-selectionheader">
                        <h2>ご利用になられる<%= type %>の番号を選択してください</h2>
                    </div>
                    <div class="form-selecter">
                            <% numbers.forEach((number) => { %>
                                <form>
                                    <div class="data">
                                    <a class="id-column" href="/resister/<%= algebra %>/<%= number.id %>" name="type" value="<%= type %>"><%= number.id %></a>
                                    </div>
                                </form>
                            <% }) %>
                    </div>
                    <!-- <input type="hidden" name="type" value="<%= type %>"> -->
                </div>
            </div>
        </div>

        
    </div>
    <footer>
        <!-- <div class="container"> -->
            <div class="footer-logo">
                <a href="/">LaboMaster</a>
            </div>
        <!-- </div> -->
    </footer>
    </body>
</html>